<div class="body">
    <h1 class="body_title">Dự án: Healthy Life</h1>
    <p class="body_text">Healthy Life là một trang web cung cấp 2 AI là Exercise Assistant và Doctor Bot.</p>

    <h2 class="body_sub">Exercise Assistant</h2>
    <ul class="body_list">
        <li class="body_item">Đếm số lần thực hiện động tác</li>
        <li class="body_item">Quan sát tư thế tập và thông báo cho người dùng.(Tương lai sẽ có!)</li>
    </ul>
</div>