<div class="body row">
    <div class="body_container col-xl-3 col-lg-4 col-md-5 d-none d-md-block">
        <img class="body_img" src="../public/img/background.jpg" alt="background">
    </div>
    <div class="overlay l-0 m-0"></div>
    <div class="body_text col">
        <h2 class="body_text_title">Your health is our business. Let us help you take care of it.</h2>
        <p class="body_text_text">Exercise Assistant will be your coach. <a href="/app">Try it now!</a></p>
        <p class="body_text_text">Doctor Bot will be your doctor. <a href="/doc">Try it now!</a></p>
        <p class="body_text_text">You will get more information about us in <a href="/das">DashBoard!</a></p>
        <p class="body_text_text">This Site is free for everyone. If you want to buy for me coffee. <a href="#">Please Donate!</a></p>
    </div>
</div>